<app-rooms-header></app-rooms-header>
<main class="container bg-light vh-80 rounded-1 d-flex flex-column justify-content-center align-items-center gap-3 fade-in">
    <p class="fade-in">This project was developed by:</p>
    <div class="card fade-in">
        <h1>Aleandro Presta</h1>
        <p>Software Engineer with a Master's in AI and Machine Learning</p>
        <div class="links">
            <a href="mailto:aleandro.presta@outlook.com" title="Email"><fa-icon [icon]="faEnvelope"></fa-icon></a>
            <a href="https://www.linkedin.com/in/aleandro-presta-6523471b9/" target="_blank" title="LinkedIn"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
            <a href="https://github.com/AleandroPresta" target="_blank" title="GitHub"><fa-icon [icon]="faGithub"></fa-icon></a>
        </div>
    </div>
    <div class="container fade-in w-lg-50">
        <p>The <strong>Orion Hotel</strong> is a fictional Hotel created just for this project to showcase a more rich Full-Stack application. All the bookings, rooms and places showcased here are fictional.</p>
    </div>
</main>
<app-rooms-footer></app-rooms-footer>