<div class="card">
    <div class="d-flex flex-column flex-md-row position-relative">
        <img [src]="room.images[0]" alt="room image" class="img-fluid custom-img rounded-1 align-self-center mx-2">
        <span class="badge text-bg-light position-absolute top-0 start-0 m-3">{{room.type}}</span>
        <div class="card-body">
            <div class="d-flex flex-column flex-xl-row gap-xl-3 gap-xxl-5">
                <p class="room-title color-info playfair-display-700">{{room.name}}</p>
                <p-rating [(ngModel)]="room.rating" [readonly]="true" [cancel]="false"></p-rating>
            </div>
            <p class="room-details mt-1"><fa-icon [icon]="faUsers"></fa-icon> {{room.capacity}} Guests</p>
            <p class="room-price">€{{room.price}}</p>
        </div>
    </div>
</div>