<nav
  class="navbar navbar-expand-lg background-color-secondary  playfair-display-600"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand color-light raise-hover" [routerLink]="'/rooms'"
      >Orion Hotel</a
    >
    <div class="d-flex">
        <a class="color-light d-block d-lg-none mx-3 align-self-center raise-hover" [routerLink]="'/auth'">
            <fa-icon [icon]="faUser"></fa-icon>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item align-self-center d-none d-lg-block mx-3">
          <a class="color-light" href="#">
            <fa-icon [icon]="faUser"></fa-icon>
          </a>
        </li>
        <li class="nav-item raise-hover">
          <a class="nav-link color-light" [routerLink]="'/rooms'">Home</a>
        </li>
        <li class="nav-item raise-hover">
          <a class="nav-link color-light">Features</a>
        </li>
        <li class="nav-item raise-hover">
          <a class="nav-link color-light">Pricing</a>
        </li>
        <li class="nav-item raise-hover">
          <a class="nav-link color-light">FAQs</a>
        </li>
        <li class="nav-item raise-hover">
          <a class="nav-link color-light" [routerLink]="'/about'">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
