<div class="container playfair-display-700">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light raise-hover text-decoration-none">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light raise-hover text-decoration-none">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light raise-hover text-decoration-none">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light raise-hover text-decoration-none">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light raise-hover text-decoration-none">About</a></li>
    </ul>
    <p class="text-center text-light raise-hover"><a href="https://github.com/AleandroPresta" class="text-light text-decoration-none">© 2024 Aleandro Presta</a></p>
  </footer>
</div>