<div class="container-fluid p-0 vh-100">
    <app-admin-login-form
        *ngIf="componentToShow == 'auth'"
        class="container d-flex justify-content-center align-items-center bg-light-subtle vh-100 rounded-2"
        (onSubmitLoginEvent)="onLogin($event)"
        [incorrectUsernameOrPassword]="incorrectUsernameOrPassword"
        [notAdmin]="notAdmin"
    ></app-admin-login-form>
    <app-admin-dashboard
        *ngIf="componentToShow == 'dashboard'"
        class="h-100 d-block"
    ></app-admin-dashboard>
</div>