<div class="card">
    <div class="card-body p-5">
        <form (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">
            <div class="form-floating mb-3">
                <input
                    type="text"
                    class="form-control"
                    id="loginUsername"
                    placeholder="Username"
                    name="username"
                    [(ngModel)]="username"
                />
                <label for="loginUsername">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input
                    type="password"
                    class="form-control"
                    id="loginPassword"
                    placeholder="Password"
                    name="password"
                    [(ngModel)]="password"
                />
                <label for="loginPassword">Password</label>
            </div>
            <div class="alert alert-danger" *ngIf="incorrectUsernameOrPassword">
                Incorrect username or password
            </div>
            <div class="alert alert-danger" *ngIf="notAdmin">
                The user is not an admin
            </div>
            <button class="btn btn-info text-light" type="submit">Submit</button>
        </form>
    </div>
</div>
