<app-rooms-header></app-rooms-header>
<main class="container bg-light rounded-3 p-3 d-flex flex-column flex-lg-row">
    <div class="container-fluid m-0 p-0 d-block d-sm-flex justify-content-center justify-content-xl-start">
        <app-galleria [images]="room.images"></app-galleria>
    </div>
    <div class="container m-2 d-flex flex-column">
        <h2 class="playfair-display-700 text-info">{{ room.name }}</h2>
        <div
            class="table-responsive"
        >
            <table
                class="table table-light table-borderless"
            >
                <tbody>
                    <tr class="">
                        <td scope="row"><p class="playfair-display-400"><strong>Capacity:</strong></p></td>
                        <td><p class="playfair-display-500"> <fa-icon [icon]="faUsers"></fa-icon> {{ room.capacity }} Guests</p></td>
                    </tr>
                    <tr class="">
                        <td scope="row"><p class="playfair-display-400"><strong>Size:</strong></p></td>
                        <td><p class="playfair-display-500"> <fa-icon [icon]="faRulerCombined"></fa-icon> {{ room.size }} m²</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <h3 class="playfair-display-600">Features:</h3>
        <div class="d-flex gap-2 flex-wrap">
            <h5><span *ngFor="let feature of room.features" class="badge rounded-pill text-bg-success">{{feature}}</span></h5>
        </div>
        <div class="d-flex gap-1">
            <p class="playfair-display-400"><strong>Rating:</strong></p>
            <p-rating [(ngModel)]="room.rating" [readonly]="true" [cancel]="false" class="my-1"></p-rating>
        </div>      
        <div class="d-flex justify-content-between gap-2 align-items-center mt-5">
            <h2 class="playfair-display-700">€{{ room.price }} per day</h2>
            <button class="btn btn-info playfair-display-500 text-light">Book Now</button>
        </div>
    </div>
</main>
<app-rooms-footer></app-rooms-footer>