@import "./styles/custom-bootstrap.scss";
@import "./styles/typography.css";
@import "./styles/animation.css";

body {
    background-color: #16213e;
}

.vh-90 {
    height: 90vh;
}

.vh-80 {
    height: 80vh;
}

@media (min-width: 768px) {
    .custom-img {
        width: 200px; /* Or whatever fixed width you want */
        height: 200px; /* Or whatever fixed height you want */
        object-fit: cover; /* This ensures the image covers the area without distortion */
    }
}
